p {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
}

.header {
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
	align-items: center;
	padding-inline: 50px;
}

.header__menu {
	display: flex;
	align-items: center;
}

.header__links-list {
	display: flex;
	gap: 32px;
	font-size: 18px;
	line-height: 21px;
	list-style: circle;
}

.list-item_no-bullit {
	list-style: none;
}

.header__link_active {
	text-decoration: none;
}

.header__logo {
	margin-block: 92px 96px;
	width: 138px;
	height: 105px;
}

.address {
	max-width: 240px;
	font-size: 18px;
	justify-self: end;
	font-style: italic;
	line-height: 24px;
}

.cover {
	background-image: url('/images/cover.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 1100px;
	height: 757px;
	padding-inline: 50px;
	padding-block: 165px 61px;
	text-transform: uppercase;
	position: relative;
	z-index: -2;
}

.overlay {
	position: absolute;
	inset: 0;
	background-color: black;
	opacity: 60%;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.cover__title {
	display: grid;
	gap: 20px;
	color: #fff;
	font-weight: 700;
	font-size: 100px;
	line-height: 115px;
	letter-spacing: 30px;
}

.aligned-text {
	display: block;
	text-align: start;
}

.aligned-text_center {
	display: block;
	text-align: center;
}

.aligned-text_right {
	display: block;
	text-align: end;
}

.no-letter-spacing {
	letter-spacing: 0;
}

.cover__description {
	display: flex;
	gap: 107px;
	margin-top: 106px;
	color: #fff;
	font-size: 22px;
	align-items: center;
}

.cover__description-text {
	font-size: 22px;
	line-height: 28px;
	word-spacing: 0.82em;
	white-space: nowrap;
}

.bet-button {
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	border: 1px solid #fff;
	padding: 12px 32px;
	background-color: transparent;
	color: #fff;
	text-transform: uppercase;
	white-space: nowrap;
}

.lots {
	margin: 180px 24px 120px;
}

a {
	height: 100%;
}

article {
	height: 100%;
	position: relative;
}

.lots__heading {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 40px;
	line-height: 47px;
	padding-left: 40px;
	padding-bottom: 27px;
}

.card__title {
	position: relative;
	color: #fff;
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
}

.card__text {
	color: #fff;
	text-decoration: none;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
}

.card {
	width: 334px;
	min-height: 596px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 48px 40px;
	padding: 50px 40px;
}

.lots__card-list {
	display: flex;
	gap: 25px;
	flex-wrap: wrap;
}

.lots__card-list-item {
	list-style: none;
}

.card-link {
	text-decoration: none;
}

.card_type_film {
	background-image: url(../images/card-lot-01.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
}

.card_type_book {
	background-image: url(../images/card-lot-02.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
}

.card_type_picture {
	background-image: url(../images/card-lot-03.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
}

.lots__look-more-link {
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	display: block;
	margin: 30px 0 0 40px;
	width: fit-content;
}

.about {
	margin-inline: 24px;
	display: grid;
	grid-template-columns: 334px 693px;
	gap: 25px;
}

.about__logo {
	width: 240px;
	height: 240px;
	margin: 35px 0 320px 47px;
	background-color: black;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about__logo-image {
	width: 142px;
	height: 113px;
}

.about__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 47px;
	text-transform: uppercase;
	margin: 136px 402px 100px 0;
}

.about__text {
	display: grid;
	width: 688px;
	height: 120px;
	margin-bottom: 24px;
	margin-right: 5px;
}

.footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-inline: 50px;
	margin-top: 180px;
	align-items: start;
}

.address__footer {
	width: 265px;
	font-size: 18px;
	font-style: italic;
	line-height: 24px;
	justify-self: start;
}

.footer__menu-list {
	display: grid;
	justify-items: center;
	justify-self: center;
	font-size: 18px;
	line-height: 21px;
}

.footer__menu-link_active {
	text-decoration: none;
}

.footer__social-icon {
	display: flex;
	gap: 48px;
	width: 240px;
	justify-self: end;
}

.footer__social-link {
	width: 48px;
	height: 48px;
}
